// Colors
$black: #000000;
$white: #FFFFFF;
$darkgray: #535353;
$lightgray: #e3e3e3;
$textgray: #60605f;
$buttongray: #c6c7c9;
$blue: #63869f;
$orange: #e8794e;
$peach: #f2d4c7;
$menu: #bcbec0;
$button-gray: #cdcdce;

// Font Weights
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// Fonts
$squada: 'Squada One', cursive;
$opensans: 'Open Sans', sans-serif;

