/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */


.header{
  .top-bar{
    top: 0px;
    left: 330px;

  }
  .logo{
    top: 0;
    left: 100px;
    margin-left: 0;
  }
  .navigation{
    margin-top: 81px;
    ul{
      li{
        display: block;
        float: left;
      }
    }
  }
}

.home{
  .tagline{
    background-image: url("../images/bg-blue-transparent.png");
    background-repeat: repeat;
  }
  .content{
    .announcement{
      background-image: url("../images/bg-peach-transparent.png");
    }
  }
}

.downtown{
  .poi-categories{
    .category{
      background-image: url("../images/bg-blue-transparent.png");
      background-repeat: repeat;
      &:hover{

      }
    }
  }
  .controls{
    float: left;
    .previous, .next{
      background-image: url("../images/bg-blue-transparent.png");
      &:hover{
        //background-color: rgba(31, 31, 65, 0.90);
      }
    }
  }
}